prune bin
prune docs
prune tests
prune venv
prune PLCreX_outputs
prune exports
include plcrex/data/grammars/*.lark
include plcrex/data/tc6/*.xsd
include plcrex/tools/fbd2st/pyd/*.pyd
include plcrex/tools/fbd2x/pyd/*.pyd
include plcrex/tools/fbdia/pyd/*.pyd
include plcrex/tools/st2qrz/pyd/*.pyd
include plcrex/tools/st2scl/pyd/*.pyd
include plcrex/tools/tcgen/pyd/*.pyd
include plcrex/models/st/*.pyd
include plcrex/models/scl/*.pyd
include plcrex/models/qrz/*.pyd